<h2>Root Component</h2><hr>
<app-asritha></app-asritha>
<app-home></app-home>
<app-interpolation></app-interpolation>
<app-event-binding></app-event-binding>
<app-property-binding></app-property-binding>
<app-twoway-binding></app-twoway-binding>
<app-struct-directive></app-struct-directive>
<app-product-assignment></app-product-assignment>
<app-calculator-assignment></app-calculator-assignment>
<app-attribute-directive></app-attribute-directive>
<div appMycolor>Array level styles apply</div>
<h1 appMycolor>App Component</h1><hr>

 <div appcolor>Welcome {{title}} </div>
<app-pipes></app-pipes>



